<!DOCTYPE html>
<html>
  <head>
    <% if (locals.title) { %>
    <title><%= title %></title>
    <% } %>
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
