<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <section class="container">
      <button id="voice" class="btn btn-primary">Start!</button>
    </section>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/lodash/dist/lodash.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <!-- <script src="/javascripts/VoiceChanger.js"></script> -->
    <script src="/javascripts/VoiceSender.js"></script>
  </body>
</html>
