<% include header %>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<p>Your ID is <%= uid %></p>
<section class="container">
  <button id="voice" class="btn btn-primary">Speak</button>
</section>

<% locals.JS_FILES = ["/javascripts/VoiceSender.js"]; %>
<% include footer %>
